.videoSidebar{
    position: absolute;
    top:34%;
    right: 10px;
    color: white;
}

.videoSidebar_button{
    /*padding:20px;*/
    text-align: center;
}
.videoSidebar_iconbutton{
    color: white !important;
    padding: 20px !important;
}